<div class="mt-8 ml-8">
  <div class="flex flex-col">
    <div class="flex-1 mb-4">
      <button class="btn-blue"
        (click)="onlyOdd = !onlyOdd"
      >
      Only show ood Numbers
    </button>
    </div>
    <div *ngIf="onlyOdd">
      <ul class="" *ngFor="let oddNumber of oddNumbers">
        <li class="border rounded-2xl w-20 p-4 text-center mb-2"
          [ngClass]="{'text-red-500': oddNumber !== 0}"
          [ngStyle]="{backgroundColor: oddNumber % 2 !== 0  ? 'blue': 'transparent'}"
        >
        {{ oddNumber }}
      </li>
      </ul>
    </div>
    <div *appUnless="onlyOdd">
      <ul class="" *ngFor="let evenNumber of evenNumbers">
        <li class="border rounded-2xl w-20 p-4 text-center mb-2"
          appBasicHightlight
        >
          {{ evenNumber }}
        </li>
      </ul>
    </div>
    <div [ngSwitch]="value">
      <p *ngSwitchCase="10"
        class="w-96 border rounded-2xl p-8 text-2xl mb-4"
        appBasicHightlight
      >
        show the directive
      </p>
      <p *ngSwitchCase="100"
        class="w-96 border rounded-2xl p-8 text-2xl" appBetterBasicHightlight
        defaultColor="violet" hightlightColor="teal"
      >
        show better directive
      </p>
      <p *ngSwitchDefault
        class="w-96 border rounded-2xl p-8 text-2xl"
      >
        show default
      </p>
    </div>
  </div>
</div>