/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-green {
  @apply mb-4
    text-white
    bg-green-700
    hover:bg-green-800
    focus:ring-4
    focus:ring-green-300
    font-medium
    rounded-lg
    text-sm w-full
    sm:w-auto
    px-5
    py-2.5
    text-center
    dark:bg-green-600
    dark:hover:bg-green-700
    dark:focus:ring-green-800;
}

.btn-blue {
  @apply
   mr-4
   text-white
   bg-blue-700
   hover:bg-blue-800
   focus:ring-4
   focus:outline-none
   focus:ring-blue-300
   font-medium
   rounded-lg
   text-sm
   w-full
   sm:w-auto
   px-5
   py-2.5
   text-center
   dark:bg-blue-600
   dark:hover:bg-blue-700
   dark:focus:ring-blue-800;
}

.btn-red {
@apply
  mr-4
  text-white
  bg-red-700
  hover:bg-red-800
  focus:ring-4
  focus:outline-none
  focus:ring-red-300
  font-medium
  rounded-lg
  text-sm
  w-full
  sm:w-auto
  px-5
  py-2.5
  text-center
  dark:bg-red-600
  dark:hover:bg-red-700
  dark:focus:ring-red-800;
}
